.overall-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
}
.rating-type {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.rating-name {
  text-align: left;
  /* margin-right: auto; */
  width: 75px;
}
.rating-bar-outer {
  overflow: hidden;
  width: 100px;
  height: 5px;
  background-color: gray;
  border-radius: 20px;
}
.rating-bar-inner {
  background-color: green;
  height: 5px;
}
.reviews-section {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .reviews-section {
    flex-direction: column;
  }
}
.user-review {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 80%;
}
.review-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-img {
  border-radius: 50%;
}
